<div class="col-12 border text-white border-warning p-3 mt-1">
  <div class="card-header">  
    <h3><strong>Usuario:  </strong><%= @tweet.user %></h3>
    <%= image_tag (@tweet.user.photo_url), class:"avatar-in-tweet rounded"%>
    <%= link_to '<i class="fas fa-calendar-day"></i>'.html_safe+"  "+distance_of_time_in_words(Time.now, @tweet.created_at), @tweet, class:"text-warning"%>
  </div>
  <div class="card-body">
    <p class="card-text" ><%= @tweet.content.html_safe %></p>
            <hr/>
            <% if @tweet.is_retweet?%>
            <span>
                <%= link_to 'Retweet de', @tweet.tweet_ref, class:"retweet-ref"%>
                
                <%= image_tag (@tweet.tweet_ref.user.photo_url), class:"avatar-in-retweet"%>
                
                <%= @tweet.tweet_ref.user.username%>
            </span>

            <%end%>
            <%# <p> <%= time_ago_in_words(tweet.created_at)%>  
        
            <br/>
            <span>
            <%= @tweet.likes.count%> 

            <% if @tweet.is_liked?(current_user)%>
                <%=link_to '<i class="fas fa-heart text-warning"></i>'.html_safe, tweet_likes_path(@tweet), method: :post%>
                
            <%else%>
                <%=link_to '<i class="far fa-heart text-warning"></i>'.html_safe, tweet_likes_path(@tweet), method: :post%>
                
            <%end%>
            </span>
                | 
            <span>
            <%= @tweet.count_rt%>
            <% if @tweet.count_rt > 0 %>
                <%= link_to '<i class="fas fa-retweet text-warning"></i>'.html_safe, tweet_retweet_path(@tweet), method: :post %>
            <%else%>
                <%= link_to '<i class="fas fa-retweet text-secondary"></i>'.html_safe, tweet_retweet_path(@tweet), method: :post %>
            <%end%>
            
            </span>

        </div>
      <hr>
        <div class="m-2">
          <% @tweet.liking_users.each do |user|%>
          <%=image_tag (user.photo_url), class:"avatar-in-retweet"%>
          <%end%>
        </div>

  </div>
</div>
